<!DOCTYPE html>
<html>
<head>
  <title>alex ung</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'basscss', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- favicon -->
  <link rel="shortcut icon" href="http://favicon-generator.org/favicons/2014-11-17/9b6b8c3a54a66d82ef605ab96aac4746.ico">
<!-- end favicon -->
</head>
<body>
  <header class="clearfix mb2 outline-blue">

    <div class="left p2 mr1">
      <img src="http://i.imgur.com/DpHBikn.png" alt="Profile" width="110" height="110">
    </div>

    <div class="right p2 mr1">
      Image
    </div>

    <div class="overflow-hidden">
      <%= link_to "Home", root_path %>
      <%= link_to "All Entries", entries_path %>
      <%= link_to "All projects", projects_path %>
    </div>

  </header>

<%= yield %>

</body>
</html>
